.wea-example-container {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  padding: 2em;
  box-sizing: border-box;

  color: #444;
  background-color: #f8f;
}
